<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mine2.css') }}">
    <link rel="shortcut icon" type="image/png" href="yoga_favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
       
</head>
<body>
    <div class="navbar">
		<ul class="nav">
			<li><a href="http://127.0.0.1:5000/textovervideo">HOME</a></li>
			<li><a href="http://127.0.0.1:5000/2ndpage">ASANAS</a></li>
			<li><a href="classes.html">CLASSES</a></li>
			<li><a href="http://127.0.0.1:5000/">AARAV</a></li>
		</ul>
    </div>
    <h1 align="center">
        <p class="clear">&nbsp;</p>
        Calming up your mind is something that we all crave for amidst the hustle bustle of life.
        Follow these asanas to get a fit body and calm mind.
    </h1>
    <div class="forpic">
        <br>
        <br>
        <div class="forpic1">
            <p><img src="{{url_for('static',filename='images/padmasana.jpeg')}}" alt="alt text" style="float: right">
                <h1>
                    PADMASANA
                </h1>
                <p class="subbody">
                    Padmasana or Lotus position is a cross-legged yoga posture which helps deepen meditation by calming the mind and alleviating various physical ailments. A regular practice of this posture aids in overall blossoming of the practitioner.<br>
                    1) Sit on the floor or on a mat with legs stretched out in front of you while keeping the spine erect.<br>
                    2) Bend the right knee and place it on the left thigh. Make sure that the sole of the feet point upward and the heel is close to the abdomen.<br>
                    3) Now, repeat the same step with the other leg. With both the legs crossed and feet placed on opposite thighs, place your hands on the knees in mudra position.<br>
                    4) Keep the head straight and spine erect. Hold and continue with gentle long breaths in and out.<br>
                </p>
            </p>
            <p class="clear">&nbsp;</p>
        </div>
        <br>
        <br>
        <div class="forpic2">
            <p><img src="{{url_for('static',filename='images/vajrasana.jpeg')}}" alt="alt text" style="float: left">
                <h1>
                    VAJRASANA
                </h1>
                <p class="subbody">
                    Thunderbolt is used as a way to rest between poses—particularly the more strenuous ones. It improves the posture, promotes a deep sense of peace and serenity, and provides complete relaxation. Curling your toes under also stretches the toes and soles of the feet.<br><br>
                    1) Sit in a kneeling position with your buttocks on your heels and legs slightly apart. Face forward with your hands resting gently on your knees. You may wish to place a folded blanket or bolster across your calf muscles or at the backs of your knees. Take care not to impinge the knees.<br>
                    2) Attempt to have your big toes touching, heels angled outward.<br>
                    3) Close your eyes or gaze at a spot on the floor. Breathe deeply.<br>
                    4) Rest quietly in Thunderbolt.
                </p>

            </p>
            <p class="clear">&nbsp;</p>
        </div>
        <br>
        <br>
        <div class="forpic3">
            <p><img src="{{url_for('static',filename='images/ardha chandrasana.jpeg')}}" alt="alt text" style="float: right">
                <h1>
                    ARDHA CHANDRASANA
                </h1>
                <p class="subbody">
                    Half Moon is traditionally used during meditation and can be used when doing seated breathing exercises. This posture is considered to very graceful and it helps in activating the opposing sides in the human body of a person. <br>
                    1) First, come into the pose of Trikonasana on your right side, start inhaling, during this gently bent your right knee and forward along with keeping your right hand in forwarding direction and keep it apart from your right foot toes.<br>
                    2) Then breathe out and slightly move your right hand to the ground or floor. Press the floor with your right hand & keep your right leg straight. During this raise your alternate leg off the floor.<br>
                    3) Bend your upper trunk heading your left, and move your left hip part slowly in the straight direction.Make sure you firmly push the scapulas and sacrum against the back of your torso.<br>
                    4) Remain in the pose for a few seconds & repeat the same process on the opposite side.<br>
                </p>
            </p>
            <p class="clear">&nbsp;</p>
        </div>
        <br>
        <br>
        <div class="forpic4">
            <p><img src="{{url_for('static',filename='images/ustrasana.jpeg')}}" alt="alt text" style="float: left">
                <h1>
                    USTRASANA
                </h1>
                <p class="subbody">
                    Camel pose gives an intense stretch to the front of the body and the spine. It relieves backache, helps correct rounded shoulders, strengthens the lower back, and stimulates the kidneys and thyroid gland.<br><br>
                    1) Curl your toes under to raise your heels.Inhale and lift the chest.<br>
                    2) Exhale and slowly bend the torso backward, sliding your hands down your buttocks and the backs of your legs and onto your raised heels.<br>
                    3) Check your neck. Keep your chin tucked slightly toward your chest.<br>
                    4) Inhale. Exhale as you continue to push the fronts of your thighs, hips, and abdomen forward.More advanced practitioners can perform the pose with the tops of the feet resting on the floor, hands grasping the heels.<br>
                    5) Breathe and hold the pose 5 to 30 seconds.
                </p>
            </p>
            <p class="clear">&nbsp;</p>
        </div>
            <br>
            <br>
        <div class="forpic5">
            <p><img src="{{url_for('static',filename='images/treepose.jpeg')}}" alt="alt text" style="float: right">
                 <h1>
                    VRIKSHASANA
                 </h1>
                 <p class="subbody">
                    This pose leaves you in a state of rejuvenation. It stretches the legs, back and arms, and invigorates you.It brings balance and equilibrium to your mind.<br><br>
                    1) Stand erect with your eyes fixed on a focal point in front of you. Bear the weight of your body on your right leg by tightening the thigh muscle.<br>
                    2) Inhale and raise your left leg, placing the sole of the foot onto the calf muscle or inner thigh of the standing leg.<br>
                    3) Stretch the inner groin of the bent leg by taking the knee out to the side, aligning the knee with the hip. Breathe deeply.<br>
                    4) Once you are balanced, raise your arms above your head or clasp your hands in Namasté at the center of the chest. <br>
                    5) Hold for 8 to 10 breaths. Return your raised leg to the floor and lower your arms and repeat on the other side.
                 </p>

            </p>
            <p class="clear">&nbsp;</p>
        </div>
        <br>
        <br>
        <div class="footer">
            <p align="left">&copy; Fantastic-Five-Works</p>
        </div>   
    </div>

    
</body>

</html>