{% extends "plain.html" %}

{% block forgot_password %}

<form action="/send_mail"  class="form-inline " method="post">
	<div class="container">
    <h2 class="font-weight-dark" style="font-size:2.225em;">Forgot Password</h2>
    <p><input type="text" class="form-control" name="nm" placeholder="Username" size="40" /></p>
	<p><input type="text" class="form-control" name="Email" placeholder="Email" size="40" /></p>

	<p><div class="btn-group-lg"><input class ="btn btn-outline-dark" type="submit" name="submit"value="Submit" style="float:left; margin-left:376px;"/></div></p>
</div>
</form>


{% endblock %}