<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/menustyle.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

   
    <div class="header">
    <div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="http://127.0.0.1:5000/"><img src="{{url_for('static',filename='images/aarav.png')}}" width="125px"></a>
        </div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/menu">Menu</a></li>
                <li><a href="http://127.0.0.1:5000/textovervideo">Yogaworld</a></li>
                <li><a href="http://127.0.0.1:5000/logout">logout</a></li>
                
            </ul>
        </nav>
      <h1><i class="fa fa-shopping-cart"></i></h1>
</div>
<div class="container" style="transform: translate(-25px,100px);">
        <h1>Hello! <mark>{{user}}</mark></h1>
    </div>
<div class="row">


    <div class="col-2">
        <h1>Order now!!</h1>
        <p><b>Mouthwatering Food waiting for you</b></p>
        <a href="http://127.0.0.1:5000/" class="btn">explore now &#8594</a>
    </div>
    <div class="col-2">
        <img src="{{url_for('static',filename='images/999.jpg')}}">
    </div>
    </div>
</div>

</div>

<div class="categories">
    <div class="small-container">
        <div class="row">
        <div class="col-3">
            <img src="{{url_for('static',filename='images/103.png')}}">
        </div>
        <div class="col-3">
            <img src="{{url_for('static',filename='images/1091.png')}}">
        </div>
        <div class="col-3">
            <img src="{{url_for('static',filename='images/1131.png')}}">
        </div>
    </div>
    
 </div>
</div>



 

<div class="small-container">
<h2 class="title"> AARAV RECOMMENDED</h2>
<div class="row">
    <div class="col-4-3">
     <img src="{{url_for('static',filename='images/106.jpg')}}" >
     <h4 style="transform:translate(0px,0px);font-size: 40px">Garlic Fried Rice</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
   <span></span>
 <button>Add to cart</button> 
</div>

    <div class="col-4-3">
     <img src="{{url_for('static',filename='images/veg_momos_soup.png')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Veg Momos Soup</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.129.00</b></p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    

    <div class="col-4-3">
     <img src="{{url_for('static',filename='images/1091.png')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Tomato Soup</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
       <span></span>
 <button>Add to cart</button> 
    </div>
   
    <div class="col-4-3">
     <img src="{{url_for('static',filename='images/manchow_soup.png')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Manchow Soup</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.109.00</b></p>
       <span></span>
 <button>Add to cart</button> 
    </div>

</div>
    
     <h2 class="title">High ON Protein </h2>
     <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Paneer waale Rajma.PNG')}}" >
     <h4 style="font-size: 40px">Paneer Rajma Mix</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.149.00</b></p>
      <span></span>
 <button>Add to cart</button>  
    </div>
    
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Crispy Threaded Paneer.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Crispy Threaded Paneer</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
    <span></span>
 <button>Add to cart</button>  
    </div>
    

    <div class="col-4">
     <img src="{{url_for('static',filename='images/rumali.PNG')}}" style="transform: translate(0px,20px);">
     <h4 style="transform: translate(0px,30px);font-size: 40px">Paneer Tikka Rumali Roll</h4>
     <div class="rating" style="transform: translate(0px,30px);">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p style="transform: translate(0px,30px);color: black;font-size: 20px;"><b>Rs.79.00</b></p>
       <span></span>
 <button style="transform: translate(-60px,30px);">Add to cart</button>  
    </div>
    

    <div class="col-4">
     <img src="{{url_for('static',filename='images/egg_kofta.PNG')}}">
     <h4 style="font-size: 40px">Egg Kofta</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
      <span></span>
 <button>Add to cart</button>  
    </div> 
 </div>
  <h2 class="title"> Got INSULIN?! </h2>
 <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Jaini Pulao.PNG')}}">
     <h4 style="transform:translate(20px,0px);font-size: 40px">Jaini Pulao</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.69.00</b></p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/palak_chanak_dal.png')}}">
     <h4 style="transform:translate(20px,0px);font-size: 40px">Paalak Chana Daal</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.89.00</b></p>
      <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Ratatouille.jpg')}}">
     <h4 style="transform:translate(20px,0px);font-size: 40px">Ratatouille</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.129.00</b></p>
      <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Tomato Herb Salad.jpg')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Tomato Herb Salad</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
       <span></span>
 <button>Add to cart</button> 
    </div> 

    </div>
     <h2 class="title"> Blood Pressure? NO Pressure! </h2>
 <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/bharwa_bhindi.png')}}">
     <h4 style ="transform:translate(0px,0px);font-size: 40px">Bharwa Bhindi</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.79.00</b></p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/103.png')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Tinda Masala</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.59.00</b></p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/torai_chana.png')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Torai Chana Masala</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.79.00</b></p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/105.png')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Sev Tamatar</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
     <span></span>
 <button>Add to cart</button>  
    </div> 

    </div>

 <h2 class="title"> MEATalicous </h2>
 <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Chicken seekh rara.PNG')}}" style="transform: translate(0px,-27px);">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Chicken Seekh Rara</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p><b>Rs.149.00</b></p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Tandoori Omelette Sandwich.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Tandoori Omelette Sandwich</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Soya Nargisi Kofta.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Soya Nargisi Kofta</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.129.00</b></p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/tawa_chicken.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Tawa Chicken</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.179.00</b></p>
   <span></span>
 <button>Add to cart</button>  
    </div> 
    </div>
     


<h2 class="title">Sweet Tooth </h2>
<div class="row">
  <div class="col-4">
     <img src="{{url_for('static',filename='images/Kaju Katli with Jaggery.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Kaju Katli with Jaggery</h4>
       <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
       </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00(per 250 gm)</b></p>
   <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Mango Crepe Cake.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Mango Crepe Cake</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.149.00</b></p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Pineapple Sheera.PNG')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px">Pineapple Sheera</h4>
     <div class="rating" style="transform: translate(40px,-5px);">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.99.00</b></p>
    <span></span>
 <button>Add to cart</button> 
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/khujri.jpg')}}">
     <h4 style="transform:translate(0px,0px);font-size: 40px;">Khujri</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p style="color: black;font-size: 20px;"><b>Rs.59.00</b></p>
  <span></span>
 <button>Add to cart</button> 
    </div> 

    </div>
    </div>

<div class="select">
</div>


<footer>
    <div class="container">
    
    <div class="footer-content">
        <div class="footer-content-about animate-top">
            <h4>About Us</h4>
           
           
            <p style="color: white;font-size: 20px">
                <b><markk>AARAV</markk> is a whole new way to order takeout that delivers fresh homemade food made by your neighbor, straight to your door.
Discover local home-based cooks in your community, browse their unique menus, and let them handle cooking for you!  </b>
     </p>
        </div>


<div class=" footer-content-divider animate-bottom">
    <div class="social-media">
    <h4>Follow Us On</h4>
    <ul class="social-icons">
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>

            <li>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </li>


            <li>
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>

            <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>


            <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
    



    </ul>
</div>
 <hr>
 <p style="font-size: 300%;color: yellow;transform: translate(0px,80px);">DEV-X</p>
 <p  style="transform: translate(-156px,0px); color: white;" class="copyright"><br><br><br><br><br><br><br><br>Copyright 2020 - AARAV All rights reserved.</p>


 <div class="newsletter-container">
    <br>
    <br>
    <br>
    <h4>Notification</h4>
    <form action="" class="newsletter-form" style="height:30px">
        <input type="text" class="newsletter-input" placeholder="Your e-mail address...">
        <button class="newsletter-btn" type="submit" style="left:0px">
            <i class="fas fa-envelope" ></i>
        </button>



    </form>
 </div>
</div>
</div>
</div>
</footer>

</body>
</html>


<script type="text/javascript">
 var noti = document.querySelector('h1');
 var select = document.querySelector('.select');
 var button = document.getElementsByTagName('button');
 for(but of button)
 {
    but.addEventListener('click', (e)=>{
     var add = Number(noti.getAttribute('data-count')||0);
     noti.setAttribute('data-count', add + 1);
     noti.classList.add('zero');

      
     var parent = e.target.parentNode;
     var clone = parent.cloneNode(true);
     select.appendChild(clone);
     clone.lastElementChild.innerText = "Buy Now";
     if (clone) {
        noti.onclick=()=>{
            select.classList.toggle('display');
        }
     }
})
 }

</script>












