<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/menustyle.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

   
    <div class="header">
    <div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="http://127.0.0.1:5000/"><img src="{{url_for('static',filename='images/aarav.png')}}" width="125px"></a>
        </div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/menu">Menu</a></li>
                <li><a href="http://127.0.0.1:5000/textovervideo">Yogaworld</a></li>
                <li><a href="">About Us</a></li>
                
            </ul>
        </nav>
      <h1><i class="fa fa-shopping-cart"></i></h1>
</div>
<div class="container" style="transform: translate(-25px,100px);">
        <h1>Hello!, {{user}}</h1>
    </div>
<div class="row">

    <div class="col-2">
        <h1>nvjurfvnidskcnvs<br>fvdvdvdfb</h1>
        <p>fnisnvksclkscsoivcdkjvnueiubvnvnsdjlcsncdive</p>
        <a href="" class="btn">explore now &#8594</a>
    </div>
    <div class="col-2">
        <img src="{{url_for('static',filename='images/999.jpg')}}">
    </div>
    </div>
</div>

</div>

<div class="categories">
    <div class="small-container">
        <div class="row">
        <div class="col-3">
            <img src="{{url_for('static',filename='images/103.png')}}">
        </div>
        <div class="col-3">
            <img src="{{url_for('static',filename='images/1091.png')}}">
        </div>
        <div class="col-3">
            <img src="{{url_for('static',filename='images/1131.png')}}">
        </div>
    </div>
    
 </div>
</div>



 

<div class="small-container">
<h2 class="title"> AARAV RECOMMENDED</h2>
<div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/106.jpg')}}">
     <h4>Garlic Fried Rice</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
   <span></span>
 <button>Add to cart</button> 
</div>

    <div class="col-4">
     <img src="{{url_for('static',filename='images/110.png')}}">
     <h4>Veg Momos Soup</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.129.00</p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    

    <div class="col-4">
     <img src="{{url_for('static',filename='images/1091.png')}}">
     <h4>Tomato Soup</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
       <span></span>
 <button>Add to cart</button> 
    </div>
   
    <div class="col-4">
     <img src="{{url_for('static',filename='images/111.png')}}">
     <h4>Manchow Soup</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.109.00</p>
       <span></span>
 <button>Add to cart</button> 
    </div>

</div>
    
     <h2 class="title">High ON Protein </h2>
     <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Paneer Waale Rajma.PNG')}}">
     <h4>Paneer Rajma Mix</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.149.00</p>
      <span></span>
 <button>Add to cart</button>  
    </div>
    
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Crispy Threaded Paneer.PNG')}}">
     <h4>Crispy Threaded Paneer</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
    <span></span>
 <button>Add to cart</button>  
    </div>
    

    <div class="col-4">
     <img src="{{url_for('static',filename='images/Paneer Tikka Rumali Roti Roll.PNG')}}">
     <h4>Paneer Tikka Rumali Roll</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.79.00</p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    

    <div class="col-4">
     <img src="{{url_for('static',filename='images/1131.PNG')}}">
     <h4>Egg Kofta</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
      <span></span>
 <button>Add to cart</button>  
    </div> 
 </div>
  <h2 class="title"> Got INSULIN?! </h2>
 <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Jaini Pulao.PNG')}}">
     <h4>Jaini Pulao</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.69.00</p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/102.png')}}">
     <h4>Paalak Chana Daal</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.89.00</p>
      <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Ratatouille.jpg')}}">
     <h4>Ratatouille</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.129.00</p>
      <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Tomato Herb Salad.jpg')}}">
     <h4>Tomato Herb Salad</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
       <span></span>
 <button>Add to cart</button> 
    </div> 

    </div>
     <h2 class="title"> Blood Pressure? NO Pressure! </h2>
 <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/101.png')}}">
     <h4>Bharwa Bhindi</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.79.00</p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/103.png')}}">
     <h4>Tinda Masala</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.59.00</p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/104.png')}}">
     <h4>Torai Chana Masala</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.79.00</p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/105.png')}}">
     <h4>Sev Tamatar</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
     <span></span>
 <button>Add to cart</button>  
    </div> 

    </div>

 <h2 class="title"> MEATalicous </h2>
 <div class="row">
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Chicken seekh rara.PNG')}}">
     <h4>Chicken Seekh Rara</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.149.00</p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Tandoori Omelette Sandwich.PNG')}}">
     <h4>Tandoori Omelette Sandwich</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
       <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Soya Nargisi Kofta.PNG')}}">
     <h4>Soya Nargisi Kofta</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.129.00</p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Tawa Chicken.PNG')}}">
     <h4>Tawa Chicken</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.179.00</p>
   <span></span>
 <button>Add to cart</button>  
    </div> 
    </div>
     


<h2 class="title">Sweet Tooth </h2>
<div class="row">
  <div class="col-4">
     <img src="{{url_for('static',filename='images/Kaju Katli with Jaggery.PNG')}}">
     <h4>Kaju Katli with Jaggery</h4>
       <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
       </div>
     <p>Rs.99.00(per 250 gm)</p>
   <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Mango Crepe Cake.PNG')}}">
     <h4>Mango Crepe Cake</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.149.00</p>
     <span></span>
 <button>Add to cart</button>  
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/Pineapple Sheera.PNG')}}">
     <h4>Pineapple Sheera</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.99.00</p>
    <span></span>
 <button>Add to cart</button> 
    </div>
    <div class="col-4">
     <img src="{{url_for('static',filename='images/107.jpg')}}">
     <h4>Khujri</h4>
     <div class="rating">
    <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
     </div>
     <p>Rs.59.00</p>
  <span></span>
 <button>Add to cart</button> 
    </div> 

    </div>
    </div>

<div class="select">
</div>


<footer>
    <div class="container">
    
    <div class="footer-content">
        <div class="footer-content-about animate-top">
            <h4>About AARAV</h4>
           
            <p style="color: white;">
                Deadline se khelte maut se bhidte aur tumhari m@# bhi chodenge abhi 5 march ko aajana!
     </p>
        </div>


<div class=" footer-content-divider animate-bottom">
    <div class="social-media">
    <h4>Follow Us On</h4>
    <ul class="social-icons">
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>

            <li>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </li>


            <li>
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>

            <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>


            <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
    



    </ul>
</div>
 <hr>
 <p  style="transform: translateY(20px); color: white;" class="copyright"><br><br><br><br><br><br><br><br>Copyright 2020 - AARAV All rights reserved.</p>


 <div class="newsletter-container">
    <br>
    <br>
    <br>
    <h4>Notification</h4>
    <form action="" class="newsletter-form" style="height:30px">
        <input type="text" class="newsletter-input" placeholder="Your e-mail address...">
        <button class="newsletter-btn" type="submit" style="left:0px">
            <i class="fas fa-envelope" ></i>
        </button>



    </form>
 </div>
</div>
</div>
</div>
</footer>

</body>
</html>


<script type="text/javascript">
 var noti = document.querySelector('h1');
 var select = document.querySelector('.select');
 var button = document.getElementsByTagName('button');
 for(but of button)
 {
    but.addEventListener('click', (e)=>{
     var add = Number(noti.getAttribute('data-count')||0);
     noti.setAttribute('data-count', add + 1);
     noti.classList.add('zero');

      
     var parent = e.target.parentNode;
     var clone = parent.cloneNode(true);
     select.appendChild(clone);
     clone.lastElementChild.innerText = "Buy Now";
     if (clone) {
        noti.onclick=()=>{
            select.classList.toggle('display');
        }
     }
})
 }

</script>












